
/*original*/
/*details,*/
figcaption,
figure,
footer,
header,
main,
nav,
section {
 
}
ol, ul {
    list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a {color: #0d7abc; text-decoration: none;}
 
a:focus {
    outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
    outline: 0;
    color: #094c6d;
}
a img {
    border: 0;
}
 
 
/* =Global
----------------------------------------------- */
 
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
}
 
/* Headings */
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
 
/*p, body, ul, li {font-size: 1em;}*/
/* Text elements */
p {
    margin-bottom: 1.5em;
}
 
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
b, strong {
    font-weight: bold;
}
dfn, cite, em, i {
    font-style: italic;
}
blockquote {
    margin: 0 1.5em;
}
address {
    margin: 0 0 1.5em;
}
pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code, kbd, tt, var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
mark, ins {
    background: #fff9c0;
    text-decoration: none;
}
sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}
small {
    font-size: 75%;
}
big {
    font-size: 125%;
}
figure {
    margin: 0;
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}
th {
    font-weight: bold;
}
img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
    font-size: 100%; /* Corrects font size not being inherited in all browsers */
    margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
    *vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
    line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
 
/* Links */
a {
 
}
a:visited {
 
}
a:hover,
a:focus,
a:active {
    }
 
/* Alignment */
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}
 
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
 
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
}
 
/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: '';
    display: table;
}
 
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}
 
 
/* =Menu
----------------------------------------------- */
 
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}
.main-navigation ul {
    list-style: none;
 
}
.main-navigation li {
    float: left;
    position: relative;
}
.main-navigation a {
    display: block;
    text-decoration: none;
}
.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 1.5em;
    z-index: 99999;
}
.main-navigation ul ul ul {
    left: 100%;
    top: 0;
}
.main-navigation ul ul a {
    width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
    display: block;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}
 
/* Small menu */
.menu-toggle {
    cursor: pointer;
    display: none;
}
 
@media screen and (max-width: 600px) {
    .menu-toggle,
    .main-navigation.toggled .nav-menu {
        display: block;
    }
 
    .main-navigation ul {
        display: none;
    }
}
 
 
/* =Content
----------------------------------------------- */
 
.sticky {
}
.hentry {
    margin: 0 0 1.5em;
}
.byline,
.updated {
    display: none;
}
.single .byline,
.group-blog .byline {
    display: inline;
}
.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
    padding: 0em 7em 3em 7em;
}
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}
 
 
/* =Asides
----------------------------------------------- */
 
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}
 
 
/* =Media
----------------------------------------------- */
 
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
.wp-caption {
    border: 1px solid #ccc;
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%;
}
.wp-caption-text {
    text-align: center;
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}
.site-main .gallery {
    /*margin-bottom: 1.5em;*/
}
.gallery-caption {
}
.site-main .gallery a img {
    border: none;
    height: auto;
    max-width: 90%;
}
.site-main .gallery dd {
    margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}
 
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
    max-width: 100%;
}
 
 
/* =Navigation
----------------------------------------------- */
 
.site-main [class*="navigation"] {
    margin: 0 0 1.5em;
    overflow: hidden;
}
[class*="navigation"] .nav-previous {
    float: left;
    width: 50%;
}
[class*="navigation"] .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
 
 
/* =Comments
----------------------------------------------- */
 
.comment-content a {
    word-wrap: break-word;
}
.bypostauthor {
}
 
 
/* =Widgets
----------------------------------------------- */
 
.widget {
    margin: 0 0 1.5em;
}
 
/* Make sure select elements fit in widgets */
.widget select {
    max-width: 100%;
}
 
/* Search widget */
.widget_search .search-submit {
    display: none;
}
 
 
/* =Infinite Scroll
----------------------------------------------- */
 
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}
 
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
    display: block;
}
 
/* ------------------- UNIQUE TO SDC Styles -------------------
 
----------------Author: Tim Brown, Casey Jacobson------------------------ */
#masthead {
    height: 100px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000 !important;
}
.picturebackground {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('images/lowerhead.jpg');
}
.page-id-9 .picturebackground, .page-id-2 .picturebackground, .page-id-7 .picturebackground {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('images/bottom-inside.jpg');
}
.clearbackground {
    background: none;
}
.site-branding {
    display: inline-block;
    width: 200px;
}
.site-branding img {
    display: inline-block;
    height: 113px;
    margin-top: -10px;
    width: auto;
}
ul  {
    list-style: none;
    text-decoration: none;
}
ul li {
    color: white;
    display: inline-block;
    text-decoration: none;
}
ul #menu-before-logo {
    display: inline-block;
    /*width: 200px;*/
}
.menu-before-logo-container {
    display: inline-block;
    /*width: 200px;*/
}
nav {
    /*width: 250px;*/
}
.left-of-logo, .right-of-logo {
    display: inline-block;
    font-size: 1.5em;
    margin-top: 30px;
    vertical-align: top;
    /*width: 27%;*/
}
.left-of-logo ul li, .right-of-logo ul li {
    /*margin-left: 20%;*/
}
.right-of-logo a, .left-of-logo a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}
.right-of-logo a:hover, .left-of-logo a:hover {
    color: #F7EC1E;
}
.jumbotron {
    background-image:url('images/sdc-header-image.jpg');
    background-size: cover;
    margin-top: -105px;
}
.nav-collapse ul ul a {
    font-size: 2em;
}
.officer-jumbo {
    background-image:url('images/officer-jumbo.jpg');
}
.jumbotron-overlay {
    background-image: url('images/section-grid@2x.png');
    background-size: 2px 2px;
    display: table-cell;
    margin: 0 auto;
    padding-top: 59%;
    vertical-align: middle;
    width: 2000px;
}
 
 
h1, h2, h3, h4, h5 {
  font-family: "museo-slab",serif;
  font-weight: 300;
}
h1 {
    color: white;
    font-size: 3em;
}
.entry-title a {
    color: #404041;
    font-size: 1.2em;
    font-family: "museo-slab",serif;
    font-weight: 300;
    text-decoration: none;
}
h2 {
    font-size: 1.8em;
    margin: 200px;
}
h3 {
    font-size: 1.17em;
}
h5 {
    font-size: .83em;
}
h6 {
    font-size: .75em;
}
.hero-unit {
    margin: -300px 100px;
    position: fixed;
    text-align: center;
    width: 85%;
}
.small  font-weight: 100;
{
    color: #D3D1D1;
    margin-bottom: 10px;
}
header.entry-header {
    display: none;
}
body, p, ul, li, a {
  font-family: "proxima-nova", sans-serif;
}
.officer-pic {display: inline-block; width: 200px; margin: 10px 20px;}
 
.officer-pic figcaption{
  font-family: "proxima-nova", sans-serif;
  font-size: 1.2em;
  text-align: center;
}
 
.hero-unit p {
    color: white;
    font-size: 2.5em;
    line-height: 1.4em;
    margin: 20px auto 0;
    width: 70%;
}
.featured-blog-img {
    display: inline-block;
    vertical-align: top;
}
.featured-blog-text {
    display: inline-block;
    height: 260px;
    margin-left: 30px;
    width: 505px;
}
a .read-more {
    background: #c62b8e;
    color: white;
    float: right;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    height: 40px;
    letter-spacing: .1em;
    padding: 8px 13px;
    text-transform: uppercase;
    width: 130px;
}
a:hover .read-more {
    background: #a52565;
    color: white;
    float: right;
    font-size: 1.2em;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    height: 40px;
    letter-spacing: .09em;
    padding: 8px 13px;
    text-transform: uppercase;
    width: 130px;
}
.recent-featured-blog {
    background-color: white;
    height: 260px;
    margin-bottom: 50px;
    vertical-align: middle;
}
.tan-background {
    background-color: #f2f2f2;
}
.white-background {
    background-color: white;
}
.sidebar {
    background-color: #d3d1d1;
    padding-left: 10px;
}
.calendar-container {
    margin: 40px 0px;
}
.calendar-box {
    background-color: #0d7abc;
    color: white;
    display: inline-block;
    height: 55px;
    margin-left: 20px;
    padding: 33px 0px 0px 40px;
    text-align: right;
    width: 55px;
    position: absolute;
}
.calendar-month{
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: .1em;
    line-height: 1.1em;
    margin: 0;
}
.calendar-day {
    font-family: "museo-slab", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: .85em;
    margin-right: -2px;
}
.onethirdinner {
    margin: 0 auto;
}
 
/************  Event Styles **************/
 
.event-text {
    display: inline-block;
    margin-left: 135px;
    margin-right: 20px;
}
.event-text h4 {
    font-size: 1.4em;
    line-height: 1.1em;
    margin: 0;
}
.event-text h5 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0;
}
.event-text p {
    line-height: 1.3em;
    margin: 0;
}
.navbar-nav {
    float: none;
    margin: 0 auto;
    width: 700px;
}
 
 
.container {
    font-size: 1.5em;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
.twothirds {
    display: inline-block;
    max-width: 64%;
}
.onethird {
    background-color: #F2F2F2;
    display: inline-block;
    float: right;
    width: 34%;
}
 
 
.ThumbnailClass {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 20%;
}
.ExcerptClass {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    vertical-align: top;
    width: 75%;
}
.moretag {
    margin-top: 35px;
    color: #c62b8e;
    border-style:solid;
    border-width:1px;
    border-color: #c62b8e;
    float: right;
    text-decoration: none;
    padding: 5px 13px 3px;
    width: 120px; height: 28px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: .09em;
    text-align: center;
}
a:hover.moretag {
    background: #c62b8e;
    color: white;
}
a .moretag{
    background: #c62b8e;
    padding: 8px 13px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", "proxima-nova", Helvetica, sans-serif;
    width: 130px;
    height: 40px;
    text-transform: uppercase;
    float: right;
    border-style:solid;
    border-width:1px;
    border-color: #c62b8e;
}
.entry-content{
    height: 425px;
    /*height: 10%;*/
}
.contact-form label {margin-top: 10px; font-size: 1.4em; font-family: "proxima-nova", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;}
.pushbutton-wide {border-style: solid;
border-width: 1px;
border-color: #c62b8e; background-color: white; height: 30px; height: 42px; float: left;
text-transform: uppercase;
color: #c62b8e;}
.pushbutton-wide:hover {
    border-style: solid;
border-width: 1px;
border-color: #c62b8e;
background-color: #c62b8e !important; background-color: white; height: 30px; height: 42px; float: left;
text-transform: uppercase;
color: white;
}
#g2-name, #g2-email, #g2-website {width: 80%;}
.recent-featured-blog {
    vertical-align: middle;
    height: 260px;
    margin-bottom: 50px;
    background-color: white;
}
.day-and-time {
    background-color: #E6E6E6;
    color: #333333;
    font-size: 1.3em;
    text-align: center;
    padding: 20px 0;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}
 
 
.site-footer {
    background-color:#333333;
    padding: 40px;
}
.mctc-logo {
    margin-left: 0px;
}
 
/* ------------------------------------------
  NECESSARY STYLES FOR RESPONSIVE NAV
--------------------------------------------- */
 
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
 
.nav-collapse li {
  width: 100%;
  display: block;
}
 
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}
 
.nav-collapse.opened {
  max-height: 9999px;
}
 
@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
/*sdc gallery styles*/
.wp-caption {
    /*border: 1px solid #ccc;*/
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%;
}
.wp-caption-text {
    text-align: center;
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}
 
#gallery-6 {
    z-index: 1000;
}
 
#gallery-6 {
    float: left;
    padding-top: -50%;
    margin-top: -50%;
}
 
#gallery-6 .gallery-item {
    float: left;
    margin-top: .7em;
    text-align: center;
    width: 26%;
}
 
#gallery-6 img {
    border: none;
    padding: 2em;
}
 
#gallery-6 .gallery-caption {
    margin-left: 0;
    color: #fff;
}
 
.entry-content p, h1, h2, h3 {
    color: #fff;
}
 
.site-main .gallery {
    margin-bottom: 1em;
}
.gallery-caption {
    border: none;
}
.site-main .gallery a img {
    border: none;
    height: auto;
    max-width: 90%;
}
.site-main .gallery dd {
    margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}
/*.gallery-columns-1 .gallery-item, .gallery-columns-2 .gallery-item, .gallery-columns-3 .gallery-item , .gallery-columns-4 .gallery-item, .gallery-columns-5 .gallery-item, .gallery-columns-6 .gallery-item, .gallery-columns-7 .gallery-item, .gallery-columns-8 .gallery-item, .gallery-columns-9 .gallery-item {*/
 
}
/* =WordPress Gallery
-------------------------------------------------------------- */
.gallery {
    margin: 0 auto 18px;
}
 
.gallery .gallery-item {
    float: left;
    margin-top: 0;
    text-align: center;
 
}
 
/*.gallery img {
    border: 1px solid #dddddd;
}*/
 
.gallery .gallery-caption {
    font-size: 12px;
    margin: 0 0 12px;
}
 
.gallery dl {
    margin: 0;
}
 
.gallery br+br {
    display: none;
}
 
.attachment-gallery img {
    background: #ffffff;
    /*border: 1px solid #f0f0f0;*/
    display: block;
    height: auto;
    margin: 15px auto;
    max-width: 96%;
    padding: 5px;
    width: auto;
}
 
.gallery-meta .iso,
.gallery-meta .camera,
.gallery-meta .shutter,
.gallery-meta .aperture,
.gallery-meta .full-size,
.gallery-meta .focal-length {
    display: block;
}
 
 
 
 
 
@media only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:3/2), only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {
 
    body {
    }
}
 
/* ------------------------------------------
  DEMO PAGE'S STYLES
--------------------------------------------- */
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}
 
a:active,
a:hover {
  outline: 0;
}
 
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
 
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
}
 
.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
 
.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}
 
.nav-collapse li {
  float: left;
  width: 100%;
}
 
@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: 25%;
    *width: 24.9%; /* IE7 Hack */
    _width: 19%; /* IE6 Hack */
  }
}
 
.nav-collapse a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  background:  rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid white;
  padding: 0.7em 1em;
  float: left;
}
 
@media screen and (min-width: 40em) {
  .nav-collapse a {
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid white;
  }
}
 
.nav-collapse ul ul a {
  background: rgba(0, 0, 0, 0.7);
  padding-left: 2em;
}
 
@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}
 
.nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  margin: 20px 20px 0 0 ;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5) url("hamburger.gif") no-repeat 50% 47%;
  border:1px solid white;
  padding-top: none;
}
 
@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .nav-toggle {
    background-image: url("hamburger-retina.gif");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px;
  }
}
 
@media only screen and (min-width: 670px) and (max-width: 900px) {
    /* tablets */
     .jumbotron-overlay {padding-top: 80%; padding-bottom: 20%;}
      .hero-unit p {line-height: 1.2em; font-size: 2.3em; color: black; width: 90%; margin-top: 10px; font-weight: 100; }
}
 
@media only screen and (max-width: 40em) {
        /* phones */
    .menu_class_php {display: none;}
    .menu_class_php {display: none;}
    .left-of-logo  {display: none !important;}
    .right-of-logo  {display: none !important;}
    .left-of-logo a {display: none;}
    .right-of-logo a {display: none;}
    .site-branding  {float: left; text-align: left; margin: 5px 0 0 10px;}
    .site-branding img {width: 70%; height: auto;}
    #masthead {text-align: left; }
    .jumbotron-overlay {padding-top: 120%; padding-bottom: 60%;}
    .hero-unit {margin: -100px auto; width: 90%; text-align: center; position: relative;}
    .hero-unit h1 {line-height: 1.2em; font-size: 2.3em;}
     .hero-unit p {line-height: 1em; font-size: 2em; color: white; width: 90%; margin-top: 10px; font-weight: 100; }
     /*.twothirds { margin: 0em; width: 90%; padding: 30px 20px;}*/
    /*.onethird { margin: 0em; width: 100%; max-width: 100%; min-width: 100%; clear: left; height: 55em }*/
    /*.container {padding: 0px 0px 0px 0px; font-size: 1.5em; max-width: 100%; margin: 0 auto;}*/
    /*.event-text {width: 200px;
    margin-left: 10px;}*/
    .event-text h4 {line-height: 1.1em; margin: 0; font-size: 1.2em}
    .event-text h5 {line-height: 1.2em; margin: 0; font-size: 1em}
    .event-text p {line-height: 1.3em; margin: 0;}
    /*.calendar-box {
    background-color: #0d7abc;
    color: white;
    padding: 25px 0px 0px 19px;
    text-align: right;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    }*/
    /*.calendar-container {
        margin: 30px 0px;
    }*/
    /*.calendar-month{
        font-size: 1.3em;
        font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 100;
        line-height: 1.1em;
        margin: 0;
        letter-spacing: .09em;
    }*/
    .ThumbnailClass {
        margin-top: 20px;
        display: inline-block;
        width: 96%;
        height: auto;
        margin: 0 auto;
    }
    .ExcerptClass {
        margin: 0 auto;
        display: inline-block;
        max-width: 400px;
        vertical-align: top;
    }
    .moretag {
        color: #c62b8e;
        border-style:solid;
        margin: 40px auto;
        border-width:2px;
        border-color: #c62b8e;
        float: right;
        text-decoration: none;
        padding: 10px 13px;
        height: 28px;
        font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: .09em;
        margin-right: 35%;
    }
    a:hover .moretag {
        background: #c62b8e;
        color: white;
    }
    a .moretag {
        background: #c62b8e;
        padding: 8px 13px;
        font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
        text-transform: uppercase;
    }
}
 
@media only screen and (min-width: 950px) and (max-width: 1200px) {
    /* Small computer to landscape tablet */
.container {
    padding: 0 10px;
}
.event-text {
    margin-left: 110px;
}
.event-text h4 {line-height: 1.1em; margin: 0; font-size: 1.2em}
.event-text h5 {line-height: 1.2em; margin: 0; font-size: 1em}
.event-text p {line-height: 1.3em; margin: 0;}
.calendar-box {
    background-color: #0d7abc;
    color: white;
    padding: 25px 0px 0px 19px;
    text-align: right;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
 
.calendar-container {
            margin: 30px 0px;
}
 
.calendar-month{font-size: 1.3em;
            font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
            font-weight: 100;
            line-height: 1.1em;
            margin: 0;
        letter-spacing: .09em;}
.calendar-day {font-family: "museo-slab", "Helvetica Neue", Helvetica, sans-serif;
                font-size: 38px;
                line-height: .85em;
                margin: 0;
                font-weight: 700;
                margin-right: -2px;
            }
}
 
 
 
@media only screen and (max-width: 950px) {
 
    .twothirds {
        width: 100%;
        max-width: 100%;
    }
    .onethird {
        width: 100%;
    }
    .onethirdinner {
        max-width: 640;
    }
    .event-text {
        margin-left: 135px;
    }
}
 
@media only screen and (max-width: 640px) {
    .container {
        padding: 0;
    }
    .calendar-box {
        margin-left: 5px;
    }
    .event-text {
        margin-left: 105px;
        margin-right: 5px;
    }
}
 
 
/*FOOTER STYLES*/
.site-footer>div:after {
    content: '';
/*display: inline-block;*/
    max-width: 100%;
}
 
.container {
    margin: 0 auto;
}
 
.footer-logo {
/*display: inline-block;*/
    float: left;
    margin-top: -.75em;
 
}
 
.footer-social {
width: 283px;
height: 100px;
    float: right;
}
 
/*HEADER NAV STYLES*/
.left-of-logo {
    margin-right: .5em;
}
 
#menu-item-183 {
    padding-right: 2em;
}
 
.right-of-logo {
    margin-left: .5em;
}
 
#menu-right-of-logo-1 li {
    padding-right: 2em;
}
 
/*JUMBOTRON AND JUMBOTRON OVERLAT STYLES*/
/*.jumbotron-overlay {
    padding-top: 120%;
    padding-bottom: 60%;
}*/
.hero-unit {
    margin-top: -30%;
/*position: fixed;*/
    text-align: center;
    font-size: 95%;
}
 
/*OFFICERS PAGE*/
/*body.custom-background {
    background-image: url("http://timbdesign.com/studentdesign/wp-content/uploads/2014/01/homepage-jumbo2.jpg");
}*/
.officer-pic{
    max-width: 100%;
    float: left;
    margin: 10px;
 
}
 
 
}
.officer-pic.officers-p{
text-align: left;
font-size: .85em;
}
.officer-jumbo {
    z-index: 1;
    height: 10%;
}
 
.jumbotron-overlay {
    height: 10%;
}
/*GALLERY STYLES*/
.wp-caption {
    /*border: 1px solid #ccc;*/
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption p{
    /*border: 1px solid #ccc;*/
    margin-bottom: 1.5em;
    padding: 5px;
    width: 300px;
}
/*.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 100%;
}*/
.wp-caption-text {
    text-align: left;
    font-size: .85em;
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
    font-size: .85em;
}
.officer-jumbo {
    z-index: 1;
    height: 10%;
}
 
.jumbotron-overlay {
    height: 10%;
}
 
#gallery-6 {
    z-index: 1000;
}
 
#gallery-6 {
    float: left;
    padding-top: -50%;
    margin-top: -50%;
}
 
#gallery-6 .gallery-item {
    float: left;
    margin-top: .7em;
    text-align: center;
    width: 26%;
}
 
#gallery-6 img {
    border: 2px solid #cfcfcf;
    padding: 2em;
}
 
#gallery-6 .gallery-caption {
    margin-left: 0;
    color: #fff;
}
 
.entry-content p, .entry-content h1, .entry-content h2, .entry-content h3 {
    color: #333333;
}
 
.entry-content p {
    font-size: .85em;
}
 
/* see gallery_shortcode() in wp-includes/media.php */
 
.mail-iconz {  }
.contact-iconz a{background: url('http://timbdesign.com/studentdesign/wp-content/themes/student-design-collective/images/social-icons.png')  0 0 no-repeat !important;
   padding: 22px 20px; text-indent: -9000px !important; width: 75px !important; height: 63px !important; text-decoration: none; display: inline-block;}
.contact-iconz a:hover {background: url('http://timbdesign.com/studentdesign/wp-content/themes/student-design-collective/images/social-icons.png')  0 -60px no-repeat !important; }
 
.facebookz a{background: url('http://timbdesign.com/studentdesign/wp-content/themes/student-design-collective/images/social-icons.png')  75px 0 no-repeat !important; display: inline-block;  padding: 22px 20px; text-indent: -9000px !important; width: 75px !important; height: 63px !important; text-decoration: none;}
.email-us, .facebook-us, .linkedin-us, .tweet-us {display: inline-block;}
.email-us a{background:url(http://timbdesign.com/studentdesign/wp-content/themes/student-design-collective/images/social-icons.png) no-repeat;height:63px;width:75px;background-position:0px 0px; display: inline-block; }
.email-us a:hover{background-position:0 -60px}
.facebook-us a{background:url(http://timbdesign.com/studentdesign/wp-content/themes/student-design-collective/images/social-icons.png) no-repeat;height:63px;width:70px;background-position:-69px 0; display: inline-block; clear: none; margin-left: -5px}
.facebook-us a:hover{background-position:-69px -60px}
.linkedin-us a{background:url(http://timbdesign.com/studentdesign/wp-content/themes/student-design-collective/images/social-icons.png) no-repeat;height:63px;width:70px;background-position:-138px 0px; display: inline-block; margin-left: 15px}
.linkedin-us a:hover{background-position:-138px -60px}
.tweet-us a{display:block;background:url(http://timbdesign.com/studentdesign/wp-content/themes/student-design-collective/images/social-icons.png) no-repeat;height:63px;width:73px;background-position:-209px 0px; margin-left: 35px;}
.tweet-us a:hover{background-position:-209px -60px;}
 
.one_fourth {width: 50px; display: inline-block;}
 
@media screen and (min-width: 1200px) {
 
/*HEADER NAV STYLES*/
.left-of-logo {
    margin-right: .5em;
    margin-left: 5em;
}
 
#menu-item-183 {
    padding-right: 7em;
}
 
.right-of-logo {
    margin-left: .5em;
}
 
#menu-right-of-logo-1 li {
    padding-right: 7em;
}
 
}
 
.page-template-officers-php .jumbotron-overlay {
padding-top: 40%;
}
 
.page-template-officers-php .hero-unit {
margin-top: -17%;}
 
.page-template-about-php .jumbotron-overlay {
padding-top: 40%;
}
 
.page-template-about-php .hero-unit {
margin-top: -17%;}
 
.page-template-contact-php .jumbotron-overlay {
padding-top: 40%;
}
 
.page-template-contact-php .hero-unit {
margin-top: -17%;}
.half-contact {width:48%; display: inline-block;}